* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;

	--light: #e5e5e5;
	--white: #fff;
	--dark: #141414;
	--black: #000;
	--gray: #b3b3b3;
	--red: #c00;
	--blue: #0073e6;
	--error: #f97316;
	--success: #4ade80;

	--gray-mid: #454545;

	--gray-dark: #333333;

	--dark-transparent: rgba(20, 20, 20, 0.5);
	--black-transparent: rgba(0, 0, 0, 0.75);
	--gray-transparent: hsla(0, 0%, 50%, 0.7);
	--gray-transparent-200: hsla(0, 0%, 50%, 0.2);
	--gray-dark-transparent: hsla(0, 0%, 20%, 0.4);

	--size-200: clamp(0.8rem, 0.6vw, 1.4rem);
	--size-300: clamp(1.2rem, 0.7vw, 1.7rem);
	--size-350: clamp(1.4rem, 0.85vw, 2rem);
	--size-400: clamp(1.5rem, 0.95vw, 2.3rem);
	--size-450: clamp(1.6rem, 1.1vw, 2.8rem);
	--size-500: clamp(1.7rem, 1.25vw, 3.2rem);
	--size-600: clamp(2.5rem, 1.6vw, 3.9rem);
	--size-650: clamp(3rem, 1.7vw, 5rem);
	--size-700: clamp(3.2rem, 3.5vw, 6rem);

	--radius-100: 0.1em;
	--radius-200: 0.15em;
	--radius-300: 0.2em;
	--radius-400: 0.25em;
	--radius-500: 0.5em;
	--text-shadow: 1px 1px 2px var(--dark-transparent);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: var(--dark);
	color: var(--white);
	line-height: 1.5;
	font-size: var(--size-400);
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background: var(--red);
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	line-height: 1.2;
}

h2,
h3 {
	font-weight: 500;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	display: inline-flex;
}

button,
input,
select,
textarea,
a {
	font: inherit;
}
